[Unit]
Description=BTSync
After=network.target

[Service]
User=btsync
Group=media
UMask=0002

Restart=on-failure
ExecStart=/usr/local/bin/btsync --config /var/lib/btsync/config.json --nodaemon

[Install]
WantedBy=multi-user.target
