{
  default_sni yourdomain.com
  email youremailaddress@gmail.com
  security {
    local identity store localdb {
      realm local
      path /etc/caddy/auth/local/users.json
    }
    authentication portal myportal {
      enable identity store localdb
      crypto default token lifetime 3600
      cookie lifetime 7200
      ui {
        links {
          "Tautulli" /tautulli
          "ruTorrent" /rutorrent
          "Sonarr" /sonarr
          "Radarr" /radarr
          "Lidarr" /lidarr
          "Resillio Sync" /sync
          "User Dashboard" /auth/profile/ icon "las la-cog"
        }
      }
    }
    authorization policy admin_policy {
      set user identity subject
      allow roles authp/admin
    }
  }
  // events {
  //   on cert_obtained exec /usr/local/bin/update-quasselcert {event.data.identifier} {event.data.private_key_path} {event.data.certificate_path}
  // }
}

https://yourdomain.com {
  root * /var/www
  file_server
  header Cache-Control "no-cache"
  php_fastcgi unix//var/run/php-fpm/php-fpm.sock

  route /auth* {
    authenticate with myportal
  }

  @protected not path /favicon.ico /public* /tautulli/api*
  route @protected {
    authorize with admin_policy
  }

  redir / /auth/portal 

  @logout path_regexp /logout$
  rewrite @logout /auth/logout

  @restricted path_regexp /\.(git|htaccess)|/rutorrent/(conf|share)
  respond @restricted 404

  reverse_proxy /sonarr* 127.0.0.1:8989

  reverse_proxy /radarr* 127.0.0.1:7878

  reverse_proxy /lidarr* 127.0.0.1:8686

  reverse_proxy /tautulli* 127.0.0.1:8181

  @rslsync path /sync* /gui*
  route @rslsync {
    authorize with admin_policy
    redir /sync /sync/
    uri replace /sync/ /gui/
    reverse_proxy 127.0.0.1:8888
  }
}

#https://requests.yourdomain.com {
#  reverse_proxy 127.0.0.1:5055
#}

http://localhost {
  root * /var/www
  file_server
  php_fastcgi unix//var/run/php-fpm/php-fpm.sock
}

http://yourdomain.com {
  handle /public* {
    root * /var/www
    file_server
    php_fastcgi unix//var/run/php-fpm/php-fpm.sock
  }

  handle {
    redir https://{host}{uri}
  }
}
