[Unit]
Description=CouchPotato
After=network.target

[Service]
User=couchpotato
Group=media
UMask=0002

Type=forking
GuessMainPID=no
Restart=on-failure
ExecStart=/opt/CouchPotatoServer/CouchPotato.py --daemon --data_dir=/var/lib/couchpotato --config=/var/lib/couchpotato/settings.conf

[Install]
WantedBy=multi-user.target
