[Unit]
Description=CouchPotato
After=network.target

[Service]
User=YOURUSER
Group=YOURUSER

Type=forking
GuessMainPID=no
Restart=on-failure
ExecStart=/opt/CouchPotatoServer/CouchPotato.py --daemon --data_dir=/home/YOURUSER/.config/couchpotato --config=/home/YOURUSER/.config/couchpotato/settings.conf

[Install]
WantedBy=multi-user.target
