[Unit]
Description=Lidarr
After=syslog.target network.target

[Service]
User=lidarr
Group=media
UMask=0002

Type=simple
KillMode=process
Restart=always
ExecStart=/usr/bin/mono --debug /opt/Lidarr/Lidarr.exe -nobrowser

[Install]
WantedBy=multi-user.target
