[Unit]
Description=Radarr
After=syslog.target network.target

[Service]
User=radarr
Group=media
UMask=0002

Type=simple
KillMode=process
Restart=always
ExecStart=/opt/Radarr/Radarr -nobrowser

[Install]
WantedBy=multi-user.target
