[Unit]
Description=rTorrent
After=network.target

[Service]
User=YOURUSER
Group=YOURUSER

Type=forking
KillMode=none
Restart=on-failure
ExecStart=/usr/bin/screen -d -m -fa -S rtorrent /usr/bin/rtorrent -n -o import=/home/YOURUSER/.config/rtorrent/rtorrent.rc
ExecStop=/usr/bin/killall -w -s 2 /usr/bin/rtorrent

[Install]
WantedBy=multi-user.target
